Audio_Assets/
Audio/
Bootstrap_Assets/
models/
ComfyUI/
Image_Generation/
LivePortrait/
Supermergekit/
Text_Generation/
venv_image_generation/
venv_text_generation/
AutoGPT/
gptme/
AgentK/
self-hosted-ai-starter-kit/
lerobot/
torchchat/
distributed-llama/